# Extra configuration file
# Everything defined in this file will overwrite what is defined in the main device defconfig file
# Build kernel with make [args] [defconfig] extreme.config -j[cores]

# Allow loading unigned kernel modules
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
# CONFIG_MODULE_SIG is not set

# EOF

